body {
    background-color: #898AA6;
  }

  img {
  border-radius: 50%;
  }
  
  hr {
    border-style: none;
    width: 30%;
    border-style: dotted none none none;
    border-width: 12px;
    border-color: grey;
  }

  h1 {
    color: #C9BBCF;
  }
  
  h2 {
    color: #B7D3DF;
  }

  h3 {
    color: #D6EFED;
  }